{% extends "./home.html" %}
{% block content %}
{% if flag %}
<table border="1" style="margin-left:270px">
    <tr>
        <th>Country</th>
        <th>Confirmed</th>
        <th>Active</th>
        <th>Death</th>
        <th>Recovered</th>
        <th>Critical</th>
        <th>Tested</th>
        <th>Death Ratio</th>
        <th>Recovered Ratio</th>
    </tr>
    {% for data,value in new.data.regions.items %}
    <tr>
        <td><h4>{{ value.name }}</h4></td>
        <td>{{value.total_cases}}</td>
        <td>{{value.active_cases}}</td>
        <td>{{value.deaths}}</td>
        <td>{{value.recovered}}</td>
        <td>{{value.critical}}</td>
        <td>{{value.tested}}</td>
        <td>{{value.death_ratio}}</td>
        <td>{{value.recovery_ratio}}</td>
    </tr>
{% endfor %}
</table>
{% elif not sortedflag %}
{% for data,values in new.items %}
                <h2 style="margin-left:370px">{{data}}</h2>
                <table border="1" style="margin-left:450px">

                    {% for key, value in values.items%}
                    <tr>
                        <td><h4>{{key}}</h4></td>
                        <td>{{value}}</td>
                    </tr>
                    {% endfor %}
                </table>

            {% endfor %}
{% endif %}

{% if sortedflag %}
    <table border="1" style="margin-left:270px">
    <tr>
        <th>Country</th>
        <th>Confirmed</th>
        <th>Active</th>
        <th>Death</th>
        <th>Recovered</th>
        <th>Critical</th>
        <th>Tested</th>
        <th>Death Ratio</th>
        <th>Recovered Ratio</th>
    </tr>
    {% for data in sorted  %}
    <tr>
        <td><h4>{{ data.1.name}}</h4></td>
        <td>{{data.1.total_cases}}</td>
        <td>{{data.1.active_cases}}</td>
        <td>{{data.1.deaths}}</td>
        <td>{{data.1.recovered}}</td>
        <td>{{data.1.critical}}</td>
        <td>{{data.1.tested}}</td>
        <td>{{data.1.death_ratio}}</td>
        <td>{{data.1.recovery_ratio}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
