{% extends "./home.html" %}
{% block content %}
{% for data in datum %}
    <h2>{{ data.all.country }}</h2>
    <p>{{ data.all.confirmed }}</p>
    <p>{{ data.all.deaths }}</p>
    <p>{{ data.all.recovered }}</p>
{% endfor %}
{% endblock %}